body{
    background-color: #313338;
    margin: 0;
    padding: 0;
    color: white;
}

.conatiner-data{
    width: 100vw;
    margin-top: 1vw;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    display: grid;
    
}

.table-header{
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background-color: #2B2D31;
    height: 10vw;
    align-content: center;
    font-weight: 900;
}

.table-content{
    background-color: #313338;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: 3vw;
    align-content: center;
}