body {
    background-color: #313338;
}

.tabla {
    width: 100%;
    /* justify-self: center; */
    border: 2px solid white;
    padding-top: 0px; 
}

td {
    font-size: x-large;
    padding: 15px;
}

/* .Barra_lateral--izquierda {
    display: grid;
    grid-template-columns: auto;
    text-align: left;
    justify-self: left;
}

.Barra_lateral--izquierda div {
    border: 4px solid rgb(141, 118, 118);
    color: white;
    
} */

/* .titulo {
    font-size: 60px;
    background-color: rgb(4, 59, 85);
    color: white;
} */


th {
    background-color: #444852;
    font-size: xx-large;
}

.informacion {
    text-align: center;
    color: whitesmoke;
}

.barra__superior {
    width: 400px;
    height: 40px;
}

img {
    width: 90px;
    height: 80px;
}

caption {
    font-size: 40px;
}